{% extends 'base.html' %}
{% block header %}
    <script type="text/javascript">
        function setup_upload() {
            $('#upload_area').uploadify({
                'buttonText': '选择文件',
                'fileTypeExts': "*.zip",
                'multi': false,
                'formData': {},
                'swf': '{{ STATIC_URL  }}images/uploadify.swf',
                'uploader': '/upload/',
                'onUploadSuccess': function (file, data, response) {
                    if (response) {
                        var result = eval('(' + data + ')');
                        if (result.success) {
                            alert(result.result.id);
                            $('#upload_file_id').val(result.result.id);
                            $('#upload_area_msg').text(result.result.name);
                        }
                    }

                }
            });
        }
        function setUploadResult(area, value, text) {
            var b_str = '<input type="text" name="upload_file" class="upload_result" readonly="readonly" value="test">';
        }
        $(function () {
            setup_upload();

        });
    </script>
{% endblock %}
{% block main %}
    <div class="path">版本管理|基础版本</div>
    <br>
    <form method="post" action="{% url 'branch_manage' %}">
        <input type="hidden" name="id" id="id" value="">
        <input type="hidden" name="upload_file_id" id="upload_file_id" value="">

        <table style="border: solid green 1px">
            <tr>
                <td colspan="2">基础版本添加</td>
            </tr>
            <tr>
                <td><label for="branch">分支名</label></td>
                <td><input type="text" id="branch" name="branch">格式：A22_BXT_01</td>
            </tr>
            <tr>
                <td><label for="file">文件</label></td>
                <td>
                    <div id="upload_area_msg"></div>
                    <div id="upload_area"></div>
                </td>
            </tr>
            <tr>
                <td><label for="description">说明</label></td>
                <td><textarea type="text" cols="100" rows="5" id="description" name="description"></textarea></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="添加"></td>
            </tr>
        </table>
    </form>

{% endblock %}